.menu-area {
    grid-area: nav;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 10rem;
    align-items: center;
}

.nav-list {
    list-style: none;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: #000000;
    font-size: 16px;
    padding-left: 24px;
    text-decoration: none;
    display: inline-block;
}

.nav-link:hover{
    color: #888888;
}